<div class="total-container">
    
    <div class="navbar"><app-dashboard-navbar></app-dashboard-navbar></div>
    <div class="main-container">
        <div class="sidebar"><app-dashboard-sidebar></app-dashboard-sidebar></div>
      
      
        <div class="existing-plans w-full p-8">
          
            <mat-card>
                <mat-card-content>
                    <div class="w-full p-8">
                        <div class="py-14">
                            <div class="text-right text-emerald-50">
                                    <button>
                                        Cancel
                                    </button>
                            </div>
                            <div class="text-center p-4 text-2xl">
                                <p>existing-plans</p>
                            </div>
                            <div class="flex justify-around">
                                <p>Start Date:</p>
                                <p>End Date</p>
                            </div>
                        </div>

                    </div>
                </mat-card-content>
              </mat-card>
              
        </div>
            </div>
</div>