<div class="page-container">
    
    <div class="navbar"><app-dashboard-navbar></app-dashboard-navbar></div>
    <div class="mt-24 flex justify-between mx-9">
        <h1> Subscription Plans</h1>      
            </div>
            <div class="flex flex-row justify-evenly">
                <ng-container *ngFor="let plan of plans" >
        
        
                    <div class="card w-96 bg-base-100 shadow-xl my-5 ">       
                        <div class="card-body">
                            <h2 class="card-title">{{plan.planName}}</h2>
                            <p>{{plan.amount}} / {{plan.durationValue}} {{plan.durationUnit}}</p>
                            <div class="card-actions justify-end">
                                
                                <button (click)="confirmSubscription(plan)"  class="btn">Subscribe</button>
                                
                            </div>
                        </div>
                    </div>
                    </ng-container>
            </div>

     
</div>
       <!-- <div *ngIf="plans.length>0" class="flex flex-row justify-evenly">
                
        
                </ng-container>
        
            </div> -->