/* Add this CSS to ensure proper styling */
.navbar-end ul {
    list-style-type: none;
    padding-left: 0;
}

.navbar-end li {
    margin-right: 10px;
}

.btn {
    cursor: pointer;
}

/* .btn:hover { */
    /* background-color: #e0e0e0;  */
/* } */
