<header>
  <div class="navbar  bg-base-100 shadow-2xl">
    <div class="navbar-start">
      
      <a class="btn btn-ghost text-xl" routerLink="">EduNexConnect</a>
    </div>
  
    <div class="navbar-end menu-horizontal">     
      <button class="btn btn-outline btn-success" routerLink="/tenant/services">Plans</button>
        <ng-container *ngIf="!tenantName">
          <a class="btn ml-2 btn-outline btn-info" routerLink="/tenant/signup">Sign-up</a>
          <a class="btn ml-2 btn-primary" routerLink="/tenant/signin">Login</a>
      </ng-container>
      <ng-container *ngIf="tenantName">
        <a class="btn btn-outline btn-success ml-2" routerLink="/tenant/dashboard">{{tenantName}}</a>
        <a class="btn ml-2 btn-outline btn-error" (click)="signOut()">signOut</a>       
      </ng-container>
    </div>
  </div>
</header>