<header>
    <div class="flex justify-between px-4 text-blue-800 ">
        <a href="#" routerLink="" class="logo">EduNexConnect</a>
        <nav class="flex items-center justify-between">
            <ul class="flex space-x-2">
                <li>
                    <a href="#" routerLink="/about">About Us</a>
                </li>
                <li>
                    <a href="#" routerLink="/services">Services</a>
                </li>
                <li>
                    <a href="#" routerLink="/contactus">Contact Us</a>
                </li>
                <li>
                    <a href="#" routerLink="/tenant/signup">Sign-up</a>
                </li>
                <li>
                    <a href="#" routerLink="/tenant/signin">Sign-in</a>
                </li>
                <li>
                    <a href="#" routerLink="/tenant/signout">Sign-out</a>
                </li>
            </ul>
        </nav>
    </div>
</header>


