<div class="page-container">
<app-admin-sidebar></app-admin-sidebar>
<div class="p-4 sm:ml-14 mt-28">
   <table class="table-zebra">
      <thead>
         <tr>
           <th class="w-1/2 px-4 py-2">Name</th>
           <th class="w-1/2 px-4 py-2"> School</th>
           <th class="w-1/4 px-4 py-2">Info</th>
           <th class="w-1/4 px-4 py-2">Status</th>
         </tr>
       </thead>
      <tbody>
         <ng-container *ngFor="let tenant of tenantList"> 

            <tr>
              <td class="border px-4 py-2">{{tenant.name}}</td>
              <td class="border px-4 py-2">{{tenant.school}}</td>
              <td class="border px-4 py-2">
                <button (click)="sendId(tenant._id)">
                  <i class="fa-solid fa-circle-info"></i>
                </button>
              </td>

              <td class="border px-4 py-2">
                
                <button (click)="toggleStatus(tenant)">
                  <div *ngIf="tenant.isBlocked">
                   <i class="fa-regular fa-eye-slash"></i>
                  </div>
                  <div *ngIf="!tenant.isBlocked">
                    <i class="fa-regular fa-eye"></i>
                   </div>
                  {{ tenant.isBlocked ? 'Unblock' : 'Block' }}
                </button>
                
              </td>
            </tr>
         </ng-container>
         
      
      </tbody>
    </table>
</div>

</div>