.page-container {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; Fill the entire viewport height */
}

.example-full-width .mat-form-field-flex {
    height: 30px; 
  }
  
  .example-full-width .mat-form-field-infix {
    padding: 0px;  
  }
  
  .custom-modal-size {
    width: 90vw; /* Increase width to 90% of the viewport width */
    max-width: 90vw; /* Max width limited to 90vw */
    height: 90vh; /* Increase height to 90% of the viewport height */
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
}

.url-container {
    overflow: auto; /* Adds scrolling to iframe container if necessary */
    height: calc(100% - 50px);
    width: calc(100%)
}



/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 120px;
  right: 80px;
  width: 280px;
 }
 
 /* The popup chat - hidden by default */
 .chat-popup {
  display: none;
  position: fixed;
  overflow: auto;
  bottom: 10px;
  right: 10px;
  /* border: 5px solid #ffffff00; */
  z-index: 9;
  width: 35%;
 }
 
 /* Add styles to the form container */
 .form-container {
  /* max-width: auto; */
  padding: 10px;
  background-color: white;
  overflow: auto;
 }
 
 /* Full-width textarea */
 .form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 50px;
 }
 
 /* When the textarea gets focus, do something */
 .form-container textarea:focus {
  background-color: #ddd;
  outline: none;
 }
 
 /* Set a style for the submit/send button */
 .form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
 }
 
 /* Add some hover effects to buttons */
 .form-container .btn:hover, .open-button:hover {
  opacity: 1;
 }

 .messageContainer{
  --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  overflow-y: auto;
  height:13rem;
 }