<div class="container">
   
    <div class="middle-section">
        <mat-card class="card-style">
            <mat-card-header class="header-style">
                <div class="flex justify-between items-center pb-0 px-5 py-3">
                    <h2 class="title">Tenant Details</h2>
                </div>
            </mat-card-header>
            <mat-card-content class="content-style whitespace-pre-line px-4 pt-2">
                <p>Name: <span>{{name}}</span></p>
                <p>School: <span>{{school}}</span></p>
                <p>Address: <span>{{address}}</span></p>
                <p>City: <span>{{city}}</span></p>
                <p>State: <span>{{state}}</span></p>
                <p>PIN: <span>{{zip}}</span></p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="bottom-section"></div>
</div>
