.dashboard {
    margin-left: 256px;
}

/* Disable scroll in desktop */
.dashboard {
    overflow: hidden;
    min-height: 100vh;
}

/* Enable scroll in small screens */
@media (max-width: 768px) {
    .dashboard {
        overflow-y: auto;
        margin-left: 0; /* if your sidebar collapses on mobile */
    }
}
