<div class="flex justify-center page-container ">
    <div class="card w-96 bg-base-100 shadow-xl">
        <figure class="px-10 pt-10">
          <img src="../../../../assets/Images/_5b6c3431-25e1-46b5-9a2f-c1b015666d14.jpeg" alt="Shoes" class="rounded-xl" />
        </figure>
        <div class="card-body items-center text-center">
          <h2 class="card-title">Payment Successfull</h2>
          <p>Thank You For Purchasing our Product.</p>
          <div class="card-actions">
            <button (click)="toDashboard()" class="btn">Dashboard</button>
          </div>
        </div>
      </div>
</div>