* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Exo", sans-serif;
    background-color: #d8d8d8;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    height: 70px;
    padding: 20px;
    background-color: rgb(1, 38, 69);
    color: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 5px #939393;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

.tenant {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.tenant-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: rgb(11, 107, 185);
    margin: 0 10px; /* Adjusted margin */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.tenant-name {
    display: none; /* Initially hide the tenant name on smaller screens */
}

@media only screen and (min-width: 768px) {
    .tenant-name {
        display: inline; /* Show the tenant name on larger screens */
        margin-left: 10px; /* Add some spacing between image and name */
    }
}
