<app-top-nav></app-top-nav>
<div class="flex px-20 mt-28">
    <!-- <div class=" grid grid-cols-1 lg:grid-cols-3"> -->

        
        
        <div class="grid grid-cols-3 gap-6">
            
            <ng-container>
                <div class="max-w-xs  overflow-hidden transition-transform hover:scale-100 cursor-pointer shadow-lg hover:shadow-slate-500 rounded-lg">
                    <div class="h-32  overflow-hidden">
                        <figure>
                            <span></span>
                            <img class="w-full " src="https://v1.tailwindcss.com/img/card-top.jpg"alt="Sunset in the mountains">
                        </figure>
                    </div>
                    <div class="px-4 py-4 h-60">
                        <div class="font-bold text-xl mb-2">Class:</div>
                        <p class="text-gray-700 text-base">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et
                            perferendis eaque, exercitationem praesentium nihil.
                        </p>
                    </div>
                    
                </div>
            </ng-container>
            </div>
        </div>