<app-top-nav></app-top-nav>
<div class="flex">
    <div class=" grid grid-cols-1 lg:grid-cols-3">

        <!-- <div class="card w-96 bg-base-100 shadow-xl">
            <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" />
            <div class="absolute inset-5 flex justify-center items-center">
                <a href="#" class="text-white text-lg font-bold underline">Shop Now</a>
            </div>
            </figure>
            <div class="card-body">
              <h2 class="card-title">Shoes!</h2>
              <p>If a dog chews shoes whose shoes does he choose?</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary">Buy Now</button>
              </div>
            </div>
          </div> -->

        <div class="card w-96 bg-base-100 shadow-xl">
  <figure>
    <img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">Shoes!</h2>
    <p>If a dog chews shoes whose shoes does he choose?</p>
    <div class="card-actions justify-end">
      <i class="fa-regular fa-folder"></i>
      <i class="fa-solid fa-arrow-trend-up"></i>
    </div>
  </div>
</div>

<div class="card w-96 bg-base-100 shadow-xl relative">
    <figure class="relative">
      <img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" />
      <div class="absolute inset-0 flex justify-center items-center">
        <a href="#" class="text-white text-lg font-bold underline">Shop Now</a>
      </div>
      <div class="absolute bottom-0 right-0 flex justify-end items-end m-4 space-x-2">
       
      </div>
    </figure>
    <div class="card-body">
      <h2 class="card-title">Shoes!</h2>
      <p>If a dog chews shoes whose shoes does he choose?</p>
      <div class="card-actions justify-end">
        <i class="fa-regular fa-folder"></i>
        <i class="fa-solid fa-arrow-trend-up"></i>
      </div>
    </div>
  </div>
  
  <div class="card w-96 bg-base-100 shadow-xl relative">
    <figure class="relative">
      <img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" />
      <div class="absolute inset-0 flex justify-center items-center">
        <span class="text-white text-lg font-bold underline">Shop</span> 
        <hr>
        <span class="text-white text-4xl font-bold underline">Now</span>
      </div>
      <div class="absolute bottom-0 right-0 flex justify-end items-end m-4 space-x-2">
        <i class="fa-regular fa-folder"></i>
        <i class="fa-solid fa-arrow-trend-up"></i>
      </div>
    </figure>
    <div class="card-body">
      <h2 class="card-title">Shoes!</h2>
      <p>If a dog chews shoes whose shoes does he choose?</p>
      <div class="card-actions justify-end">
        <i class="fa-regular fa-folder"></i>
        <i class="fa-solid fa-arrow-trend-up"></i>
      </div>
    </div>
  </div>
           
          

          <div class="card w-96 bg-base-100 shadow-xl">
            <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
            <div class="card-body">
              <h2 class="card-title">Shoes!</h2>
              <p>If a dog chews shoes whose shoes does he choose?</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary">Buy Now</button>
              </div>
            </div>
          </div>
          <div class="card w-96 bg-base-100 shadow-xl">
            <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
            <div class="card-body">
              <h2 class="card-title">Shoes!</h2>
              <p>If a dog chews shoes whose shoes does he choose?</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary">Buy Now</button>
              </div>
            </div>
          </div>
          <div class="card w-96 bg-base-100 shadow-xl">
            <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
            <div class="card-body">
              <h2 class="card-title">Shoes!</h2>
              <p>If a dog chews shoes whose shoes does he choose?</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary">Buy Now</button>
              </div>
            </div>
          </div>
    </div>
</div>

