<!-- <div class="flex"> -->
        <app-side-nav></app-side-nav>
  

 
  <!-- The button to open modal -->
  <div class="z-20 fixed  right-px p-1  justify-around">
    <div *ngIf="!hideRest">
      <label  for="my_modal_6" class="btn  ">Add Teacher</label>
    </div>
  </div>
 

      <!-- Add Teacher Modal -->
      <input type="checkbox" id="my_modal_6" class="modal-toggle" />
      <div class="modal" role="dialog">
          <div class="modal-box">

              <form [formGroup]="form" (ngSubmit)="submit()">

                  <label class="input input-bordered flex items-center gap-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                          class="w-4 h-4 opacity-70">
                          <path
                              d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
                          <path
                              d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
                      </svg>
                      <input formControlName="email" type="text" class="grow" placeholder="Email" />
                  </label>
                  <label class="input input-bordered flex items-center gap-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                          class="w-4 h-4 opacity-70">
                          <path
                              d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
                      </svg>
                      <input formControlName="name" type="text" class="grow" placeholder="name" />
                  </label>

                  <!-- Class dropdown -->
                  <details class="dropdown">
                      <summary class="m-1 btn">{{ selectedClass ? selectedClass : 'Select Class' }}</summary>
                      <ul
                          class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52 max-h-40 overflow-y-auto">
                          <li *ngFor="let classSubject of classNsubjects" (click)="selectClass(classSubject.class)">
                              <a>{{ classSubject.class }}</a>
                          </li>
                      </ul>
                  </details>
                  <!-- Subject dropdown -->
                  <details class="dropdown" [open]="isClassDropdownOpen">
                      <summary class="m-1 btn">{{ selectedSubject ? selectedSubject : 'Select Subject' }}</summary>
                      <ul
                          class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52 max-h-40 overflow-y-auto">
                          <li *ngFor="let subject of selectedClassSubjects" (click)="selectedSubject = subject.name" (click)="selectedSubjectId = subject.Id">
                              <a>{{ subject.name }}</a>
                          </li>
                      </ul>
                  </details>

                  <div class="modal-action">
                      <button type="submit" class="hover:text-green-500 btn ">
                          submit
                      </button>
                      <label for="my_modal_6" class="btn hover:text-red-500">Close!</label>

                  </div>
              </form>
          </div>
      </div>

        <ng-container *ngIf="teacherDataLength == 0">
          <div class="py-20 px-80 ">
            <h3 class="font-mono text-red-800 text-3xl"> Please Add Teacher!!!</h3>
          </div>
        </ng-container>
<ng-container *ngIf="teacherDataLength>0">

  <div  class="py-20 grid grid-cols-1">

        
    <table class="table table-zebra">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Email</th>
          <th>Edit Details</th>
          <th>view subjects</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let teacher of teacherData; let j = index">
          <tr>
            <td>{{j+1}}</td>
            <td>{{ teacher.name}}</td>
            <td>{{teacher.email}}</td>
            <td><button class="btn bg-yellow-400 hover:bg-yellow-300" (click)="editTeacher(teacher)" >Edit</button></td>
            <td>
              <button class="btn" (click)="viewDetails(j)"> Subjects</button>

      </td>
      <td>
        <button class="btn " [ngClass]="{'bg-red-500 hover:bg-red-700': teacher.isBlocked, 'bg-green-500 hover:bg-green-700': !teacher.isBlocked}" 
        (click)="confirmToggleBlock(teacher.email,teacher.name,teacher.isBlocked)">
  {{teacher.isBlocked ? 'Unblock' : 'Block'}}
</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>


  </div>

</ng-container>
        

        
        
      

<!-- </div> -->


<!-- Open the modal using ID.showModal() method -->

<dialog id="my_modal_2" class="modal">
  <div class="modal-box">
      <h3 class="font-bold text-lg">Teacher Details</h3>
      <div *ngIf="currentTeacherDetails">
        <p>Name: {{currentTeacherDetails.name}}</p>
 
        <!-- Updated table with delete button for each subject -->
        <table class="table-auto">
          <thead>
            <tr>
              <th class="px-4 py-2">Class</th>
              <th class="px-4 py-2">Subjects</th>
              <th class="px-4 py-2">Action</th> <!-- New column for delete action -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let classDetail of currentTeacherDetails.classNsub">
              <td class="border px-4 py-2">{{classDetail.classNum}}</td>
              <td class="border px-4 py-2">
                <ul>
                  <li *ngFor="let subject of classDetail.subject">
                    {{subject.name}}
                  </li>
                </ul>
              </td>
              <td class="border px-4 py-2 flex flex-col">
                <button *ngFor="let subject of classDetail.subject" (click)="deleteSubject(subject.Id,currentTeacherDetails._id,classDetail.classNum)"><i class="fa-solid fa-square-minus"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-action">
       <button class="btn" (click)="openAddClassModal()">Add New Class</button>
 
       <form method="dialog">
          <button class="btn">Close</button>
       </form>
      </div>
  </div>
 </dialog>
 
 


 <!-- Add Class Modal -->
<dialog id="add-class-modal" class="modal">
<div class=" flex">

  <div class="modal-box ">
     <h3 class="font-bold text-lg">Add New Class</h3>
     <form (submit)="addNewClass('add-class-modal')">
      <input type="hidden" id="teacherEmail" value="{{currentTeacherDetails?.email}}" [(ngModel)]="teacherEmail" name="teacherEmail">

       <label for="className">Class Name:</label>
       <details class="dropdown" (toggle)="onDropdownToggle($event)" (toggle)="expandModal()" (toggle)="collapseModal()">
        <summary class="m-1 btn">{{ selectedClass ? selectedClass : 'Select Class' }}</summary>
        <ul
            class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52 max-h-40 overflow-hidden ">
            <li *ngFor="let classSubject of classNsubjects" (click)="selectClass(classSubject.class)">
                <a>{{ classSubject.class }}</a>
            </li>
        </ul>
    </details>
       <!-- <input type="text" id="className" [(ngModel)]="newClassName" name="className"> -->
       <label for="newSubjectName">Subject Name:</label>
       <details class="dropdown" [open]="isClassDropdownOpen">
        <summary class="m-1 btn">{{ selectedSubject ? selectedSubject : 'Select Subject' }}</summary>
        <ul
            class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52 max-h-40 overflow-hidden">
            <li *ngFor="let subject of selectedClassSubjects" (click)="selectedSubject = subject.name" (click)="selectedSubjectId = subject.Id"> 
                <a>{{ subject.name }}</a>
            </li>
        </ul>
    </details>
       <!-- <input type="text" id="newSubjectName" [(ngModel)]="newSubjectName" name="newSubjectName"> -->
       <button class="btn" type="submit">Add Class</button>
       <button class=" mx-2 btn" type="button" (click)="closeModal('add-class-modal')">Cancel</button>
     </form>
  </div>
</div>
 </dialog>
 
 