*{
    box-sizing: border-box;
}
  .td th{
    text-align: center;
}

.table{
    text-align: center;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    row-gap: 20px;
  }
  
  .card-item {
    width: calc(33.33% - 16px); /* Adjust width as needed */
    margin-bottom: 16px; /* Adjust margin between cards */
  }