<div class="flex flex-row">
  <div class="">
    <app-side-nav></app-side-nav>
  </div>

  <div class="fixed  right-px p-4  justify-around">
    <label for="my_modal_6" class="btn">Add Subject</label>
  </div>

        
 <div class=" my-12 top-32 right p-4  justify-around">
  <ng-container *ngIf="classNsubjects">
    <div class="card-container flex flex-row mx-4">
      <div *ngFor="let classSubject of classNsubjects" class="card-item">
        <div class="card w-96 bg-base-100 shadow-xl">
          <div class="card-body">
            <h2 class="card-title">class: {{ classSubject.classNumber }}</h2>
            <p *ngFor="let subject of classSubject.subjects">
              {{ subject }}     
              <!-- Add a click event to open the modal and pass the subject -->
              <i class="fa-solid fa-square-minus" (click)="openConfirmationModal(classSubject.classNumber, subject)"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<!-- Confirmation Modal -->
<dialog id="confirmation_modal" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Confirm Deletion</h3>
    <!-- Display the confirmation message -->
    <p class="py-4">Are you sure you want to delete {{ selectedSubject }} from class {{ selectedClass }}?</p>
    <div class="modal-action">
      <!-- Use ngIf to display the submit button only if a subject is selected -->
      <button *ngIf="selectedClass && selectedSubject" class="btn" (click)="deleteSubject()">Submit</button>
      <!-- Close the modal without deletion -->
      <button class="btn" (click)="closeConfirmationModal()">Cancel</button>
    </div>
  </div>
</dialog>




      
<!-- The button to open modal -->
<div class="fixed top-32 right-32 p-4  justify-around">

<!-- Put this part before </body> tag -->
<input type="checkbox" id="my_modal_6" class="modal-toggle" />
<div class="modal" role="dialog">
  <div class="modal-box">
  <form  [formGroup]="form" (ngSubmit)="submit()">

      <label class="input input-bordered flex items-center gap-2">
        <i class="fa-solid fa-graduation-cap"></i>
        <input formControlName="class" type="text" class="grow" placeholder="Class" />
      </label>
      <label class="input input-bordered flex items-center gap-2">
          <i class="fa-solid fa-book"></i>
        <input formControlName="subject" type="text" class="grow" placeholder="Subject" />
      </label>
    
      <div class="modal-action">
          <button for="my_modal_6" type="submit" class="btn">Submit</button>
          <label for="my_modal_6" class="btn">Close!</label>
        </div> 
    </form> 
  </div>
</div>
    </div>
  </div>
  