<div class="flex flex-row">
  <div class="">
    <app-side-nav></app-side-nav>
  </div>

  <div class=" z-20 fixed  right-px p-1  justify-around">
    <label for="my_modal_6" class="btn">Add Subject</label>
  </div>

  <!-- <div class="grid lg:grid-cols-3 sm:grid-cols-1"> -->

      <ng-container *ngIf="noSubjects">
      <h3 class="font-mono text-red-800 text-3xl"> Please Add Subjects !!!</h3>
      </ng-container>

    <!-- <ng-container *ngIf="classNsubjects.length>0"> -->
      
      <div class="flex flex-row flex-wrap justify-center px-8 mt-28">
          <div *ngFor="let classSubject of classNsubjects" >

          <div class="p-8">
            <!-- Open the modal using ID.showModal() method -->
            <button class="btn bg-blue-600 hover:bg-blue-700 px-14 w-44 text-white" (click)="viewSubjects(classSubject)" >Class: {{classSubject.class}}</button>
          </div>
  </div>
</div>
          
 

      
<!-- The button to open modal -->
<div class="fixed top-32 right-32 p-4  justify-around">

<!-- Put this part before </body> tag -->
<input type="checkbox" id="my_modal_6" class="modal-toggle" />
<div class="modal" role="dialog">
  <div class="modal-box">
  <form  [formGroup]="form" (ngSubmit)="submit()">

      <label class="input input-bordered flex items-center gap-2">
        <i class="fa-solid fa-graduation-cap"></i>
        <input formControlName="class" type="text" class="grow" placeholder="Class" />
      </label>
      <label class="input input-bordered flex items-center gap-2">
          <i class="fa-solid fa-book"></i>
        <input formControlName="subject" type="text" class="grow" placeholder="Subject" />
      </label>
    
      <div class="modal-action">
          <button for="my_modal_6" type="submit" class="btn">Submit</button>
          <label for="my_modal_6" class="btn">Close!</label>
        </div> 
    </form> 
  </div>
</div>
    </div>
  </div>
  