<div>
    <label class="block mb-2 text-sm font-medium text-slate-600" for="large_size">Upload PDF</label>
    <div class="flex border w-full justify-center rounded hover:cursor-pointer">
        <div class="input-div">
            <input (change)="onFileChange($event)" class="input" name="file" type="file" id="fileInput" style="display: none;">
            <label for="fileInput" class="p-3 hover:cursor-pointer custom-file-upload">
                Create or upload
            </label>
        </div>
    </div>
</div>