<div class="page-container">
    
    <div class="navbar"><app-dashboard-navbar></app-dashboard-navbar></div>
    <div class="main-container">
       
        <div class="transactions px-16 m-8 flex justify-center">
      <div class="overflow-x-auto">
        <table class="table table-zebra">
      <thead>
        <tr>
          <th>Sl.No.</th>
          <th>Transaction Type</th>
          <th>Amount</th>
          <th>Transaction Date</th>
          <th>Expiry Date</th>
      </tr>
      </thead>
        <ng-container *ngFor="let transaction of tenantTransactions; let i = index">
          <tbody>
            <th>{{i+1}}</th>
            <th>{{transaction.transactionType}}</th>
            <th>{{transaction.amount}}</th>
            <th>{{transaction.date | date:'dd MMMM yyyy'}}</th>
            <th>{{transaction.expiryDate | date:'dd MMMM yyyy'}}</th>
          </tbody>
        </ng-container>
    </table>
      </div>
        </div>
    </div>
</div>