<div class="total-container">
    
    <div class="navbar"><app-dashboard-navbar></app-dashboard-navbar></div>
    <div class="main-container">
        <div class="sidebar"><app-dashboard-sidebar></app-dashboard-sidebar></div>
        <div class="main"><app-main></app-main></div>
        <!-- <div class="edit-Profile"><app-tenant-edit-profile></app-tenant-edit-profile></div> -->
        <!-- <div class="existing-plans"><app-existing-plans></app-existing-plans></div> -->
        <!-- <div class="transactions"></div> -->
    </div>
</div>