<div class="page-container">
    <app-admin-sidebar></app-admin-sidebar>

    <div class="mt-28 flex justify-between mx-9">
        <h1> Banners </h1>
        <button class="btn" onclick="addBanner.showModal()">
            Add Banner
        </button>
    </div>
    <div class="w-full flex flex-wrap justify-start ml-12 mt-16">
        <ng-container *ngFor="let image of Ibanner">
            <div class="flex w-3/12 m-5">
                <div class="card card-compact bg-base-100 w-full  shadow-xl">
                    <figure>
                            <img src={{image.bannerLink}} alt="Banner" />
                    </figure>
                    <div class="card-body">
                        <!-- <h2 class="card-title">{{image.bannerText}}</h2> -->
                        <p>{{image.bannerText}}</p>
                        <div class="card-actions justify-end">
                            <button class="btn btn-outline btn-error" (click)="deleteBanner(image._id)">DELETE
                                BANNER</button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>


    <dialog id="addBanner" class="modal">
        <div class="modal-box max-h-max">
            <form method="dialog">
                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
            </form>
            <form [formGroup]="form" (ngSubmit)="addBanner()" method="dialog">
                <div class="mb-5">
                    <label for="bannerText" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Banner
                        Text</label>
                    <input formControlName="bannerText" type="text" id="bannerText"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Please Enter Banner Text" required />
                </div>
                <div class="mb-5">
                    <label for="bannerLink" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Banner
                        Link</label>
                    <input formControlName="bannerLink" type="text" id="bannerLink"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Please Enter Banner Link" required />
                </div>
                <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add
                    Banner</button>
            </form>
        </div>
    </dialog>

</div>