<div class="form-container">
  <form class="w-full max-w-sm" *ngIf="!tenantId">
    <div class="flex items-center border-b border-teal-500 py-2">
      <input 
         [(ngModel)]="schoolName" 
        name="schoolName"
        class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" 
        type="text" 
        placeholder="Enter Name of School" 
        aria-label="Full name">
      <button 
        (click)="onSubmit()"  
        class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" 
        type="button">
        Search
      </button>
    </div>
  </form>
</div>

<div class="buttons">
  <ng-container *ngIf="tenantId">
    <button [routerLink]="'admin'" class="w-1/2 h-12 px-6 text-indigo-100 transition-colors duration-150 bg-indigo-700 rounded-lg focus:shadow-outline hover:bg-indigo-800">
      <i class="fa-solid fa-user-tie"></i>  Admin
    </button>
    <br>
    <button [routerLink]="'teacher'" class="w-1/2 h-12 px-6 text-indigo-100 transition-colors duration-150 bg-indigo-700 rounded-lg focus:shadow-outline hover:bg-indigo-800">
      <i class="fa-solid fa-user-graduate"></i>  Student
    </button>
    <br>
    <button [routerLink]="'student'" class="w-1/2 h-12 px-6 text-indigo-100 transition-colors duration-150 bg-indigo-700 rounded-lg focus:shadow-outline hover:bg-indigo-800">
      <i class="fa-solid fa-person-chalkboard"></i>  Teacher
    </button>
    <br>
  </ng-container>
</div>
