<app-nav></app-nav>
<app-student-side-nav></app-student-side-nav>

<div class="flex flex-col mx-36 ">
    <div *ngFor="let item of uploadsArray" class="flex flex-row justify-between mt-4 border mx-44 hover:bg-slate-50 h-16 p-3 rounded hover:cursor-pointer">
       <!-- Icon and Title Section -->
       <div class="flex flex-row items-center">
           <!-- Check if the item is a material -->
           <mat-icon *ngIf="item.materialTitle; else assignmentIcon">book</mat-icon>
          
           <!-- Check if the item is an assignment -->
           <ng-template #assignmentIcon>
               <mat-icon>assignment</mat-icon>
           </ng-template>
          
           <!-- Display the item's title with a label -->
           <div class="ml-3 flex flex-col">
            <!-- Conditional title based on whether the item is a material or an assignment -->
            <p class="title">{{ item.materialTitle ? 'The teacher posted a material: ' : 'The teacher posted an assignment: ' }} {{ item.materialTitle || item.assignmentTitle }}</p>
            <!-- Display the due date if it exists -->
            <p *ngIf="item.submissionDate" class="submission-date">Due on {{ item.submissionDate | date:'dd MMMM yyyy' }}</p>
        </div>
        
       </div>
       <!-- Ellipsis Icon Section -->
       <div class=" hoverboy p-3 hover:bg-slate-200 rounded-full">
           <i class="fa-solid fa-ellipsis-vertical"></i>
       </div>
    </div>
</div>

   
