<div class="page-container">

    
    <app-nav></app-nav>
    <app-student-side-nav></app-student-side-nav>
    
    <div class="flex flex-col mx-36">
        <div class="dropdown dropdown-bottom">
            <!-- Dropdown button with dynamic label -->
            <div tabindex="0" role="button" class="btn m-1" >{{selectedOption}}</div>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                <li><a (click)="onSelectionChange('Assignments')">Assignments</a></li>
                <li><a (click)="onSelectionChange('Materials')">Materials</a></li>
            </ul>
        </div>
        


        <div *ngFor="let item of uploadsArray" class="flex flex-row justify-between mt-4 border mx-14 hover:bg-slate-50 h-16 p-3 rounded hover:cursor-pointer w-3/4">
        <!-- Icon and Title Section -->
        <div class="flex flex-row items-center">
            <!-- Check if the item is a material -->
            <mat-icon *ngIf="item.materialTitle; else assignmentIcon">book</mat-icon>
            
            <!-- Check if the item is an assignment -->
            <ng-template #assignmentIcon>
                <mat-icon>assignment</mat-icon>
            </ng-template>
            
            <!-- Display the item's title with a label -->
            <div class="ml-3 flex flex-col flex-grow">
                <!-- Conditional title based on whether the item is a material or an assignment -->
                <p class="title">{{ item.materialTitle ? 'Teacher posted a material: ' : 'Teacher posted an assignment: ' }} {{ item.materialTitle || item.assignmentTitle }}</p>
                <!-- Display the due date if it exists -->
                <div class="flex justify-between items-center">
                    <p *ngIf="item.submissionDate" class="submission-date">Due on {{ item.submissionDate | date:'dd MMM yyyy' }}</p>
                </div>
            </div>
        </div>
        
        <!-- Moved "posted on" date to the end of the div -->
        <div class="postedOn flex justify-end items-center ">
            <p class="created-date">posted on {{ item.createdAt | date:'dd MMM yyyy' }}</p>
        </div>
    </div>
</div>


<div class="pagination">
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <button (click)="nextPage()">Next</button>
</div>
   




</div>