<div class="nav-items">
    <div class="nav-item" routerLink="/tenant/dashboard">
        <fa-icon [icon]="faDashboard"></fa-icon>
        
            <span>Dashboard</span>

        
    </div>
    <div class="nav-item" routerLink="/tenant/editProfile">
        <i class="fa-regular fa-user"></i>
        
            <span>Profile</span>
        
    </div>

    <div class="nav-item"  routerLink="/tenant/transactions">
        <i class="fa-solid fa-money-bill-transfer"></i>

            <span>Transactions</span>
        
    </div>

    <div class="nav-item" routerLink="/tenant/existingPlans">
        <i class="fa-solid fa-ticket-simple"></i>
        <span>Subscription</span>
    </div>

    <div class="nav-item">
        <a href="">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Logout</span>
        </a>
    </div>
    
</div>