<div class="nav-items">
    <div class="nav-item">
        <fa-icon [icon]="faDashboard"></fa-icon>
        <a href="" routerLink="/tenant/dashboard">
            <span>Dashboard</span>

        </a>
    </div>
    <div class="nav-item">
        <i class="fa-regular fa-user"></i>
        <a href="" routerLink="/tenant/editProfile">
            <span>Profile</span>
        </a>
    </div>

    <div class="nav-item">
        <i class="fa-solid fa-money-bill-transfer"></i>
        <a href="" routerLink="/tenant/transactions">

            <span>Transactions</span>
        </a>
        
    </div>

    <div class="nav-item">
        <a href="">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Logout</span>
        </a>
    </div>
    
</div>