<div class="page-container">
    <app-nav></app-nav>
<app-student-side-nav></app-student-side-nav>
<div class="flex flex-row justify-between">
<div class="w-full">
    <div class="flex justify-center  mt-3 ">
        <h1 class="text-3xl font-bold ">{{assignmentItem.assignmentTitle}}</h1>
                   
    </div>
    <div class="flex justify-around mt-3">
        <div>
            <h2 class="text-s" >Posted on: {{assignmentItem.createdAt| date: 'dd MMM yyyy'}}</h2>
        </div>
        <div class="flex justify-end">
                <h2 class="text-s" >Due on: {{assignmentItem.submissionDate | date: 'dd MMM yyyy'}}</h2>
        </div>
    </div>
    <div class="flex justify-center">
        <quill-view-html [content]="assignmentItem.content||'No Description'"></quill-view-html> 
    </div
    > 
    
    <div>
        <div *ngIf="sanitizedUrls && sanitizedUrls.length > 0">
            <div class="flex ">
                <div class="flex" *ngFor="let url of sanitizedUrls; let i = index" class="ifram-container">
                    <iframe [src]="url" width="100%" height="100px" style="margin: 15px;"></iframe>
                    <button class="btn bg-red-500 mx-28" (click)="deleteFile(i)">X</button>
                </div>
            </div>
            </div>
    </div>
</div>
<div>

<div class="mt-3 mr-7">
    <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
            <div class="flex flex-row justify-between">
                <h2 class="card-title">Your Work</h2>
                <div *ngIf="grade">
                    <h2>Grade:{{grade}}</h2>
                </div>
            </div>
          <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
              <div class="card-actions justify-center">
                  <div class="flex border w-full justify-center rounded hover:cursor-pointer">
                    <!-- <input type="file"> -->
                    <div class="input-div">
                        <input (change)="onFileChange($event)" class="input" name="file" type="file" id="fileInput" style="display: none;">
                        <label for="fileInput" class="p-3 hover:cursor-pointer  custom-file-upload">
                           <!-- <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor" class="icon"><polyline points="16 16 12 12 8 16"></polyline><line y2="21" x2="12" y1="12" x1="12"></line><path d="M20.39 18.39A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.3"></path><polyline points="16 16 12 12 8 16"></polyline></svg> -->
                           Create or upload
                        </label>
                    </div>
                </div> 
               
                     <div  class="flex btn bg-black border w-full justify-center text-white rounded hover:text-black font-normal hover:cursor-pointer">
                    <button type="submit">Mark as done</button>     
                     </div>
                </div>
            </form>
        </div>
      </div>
</div>

<button class="open-button" *ngIf="!isOpen" (click)="openForm()">Start Conversation</button>



</div>

</div>
</div>


<div class="border-2 border-b-slate-400 rounded shadow-2xl chat-popup" [style.display]="isOpen ? 'block' : 'none'">
    <div class="px-5 bg-white border shadow-2xl flex justify-between">
      <h1>Private comments</h1>
      <button type="button" class="cancel" (click)="closeForm()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <!-- <div class="bg-white overflow-y-auto h-52">
      <div class="chat chat-start">
        <div class="chat-bubble">It's over Anakin, <br/>I have the high ground.</div>
      </div>
      <div class="chat chat-end">
        <div class="chat-bubble">You underestimate my power!</div>
      </div>
      <div class="chat chat-start">
        <div class="chat-bubble">It's over Anakin, <br/>I have the high ground.</div>
      </div>
      <div class="chat chat-end">
        <div class="chat-bubble">You underestimate my power!</div>
      </div>
    </div> -->
  <div id="chatContainer" class="messageContainer"></div>


  
    <form class="w-full form-container" (click)="messageSubmit($event)">
        <label for="msg"><b>Message</b></label>
     
        <label for="chat" class="sr-only">Your message</label>
        <div class="flex items-center px-3 py-2 rounded-lg bg-gray-50 dark:bg-gray-700">
            <textarea id="chat" rows="1" class="block mx-4 p-2.5 w-0 text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your message..."></textarea>
      
        </div>
      <div class="justify-center">
          <button type="submit" class="btn">Send</button>
        </div>
    </form>
  </div>
  
  