textarea{
    border-radius: 10px;
}
.active{
    color:blue;
    font-weight:bold;
    
}
.mat-datepicker-content {
    z-index: 100; /* Adjust the value as needed */
}

.assignments{
    z-index:000;
}
.created-date{
    margin-left:auto;
    color:#606c76
}
.submission-date{
    color:#606c76;
    font-size: 0.875rem; /* Smaller font size */
}

.hoverboy {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* This makes the div circular */
    transition: background-color 0.3s ease; /* Optional: Add a smooth transition for the background color */
}

.custom-modal-size {
    width: 90vw; /* Increase width to 90% of the viewport width */
    max-width: 90vw; /* Max width limited to 90vw */
    height: 90vh; /* Increase height to 90% of the viewport height */
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
}

.url-container {
    overflow: auto; /* Adds scrolling to iframe container if necessary */
    height: calc(100% - 50px);
    width: calc(100%)
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Fill the entire viewport height */
}

.pagination {
    align-self: center; /* Center the pagination div horizontally */
}

.flex.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center children vertically */
    flex-grow: 1; /* Allow this div to grow and take up available space */
}
