textarea{
    border-radius: 10px;
}
.active{
    color:blue;
    font-weight:bold;
    
}
.mat-datepicker-content {
    z-index: 100; /* Adjust the value as needed */
}

.assignments{
    z-index:000;
}