textarea{
    border-radius: 10px;
}
.active{
    color:blue;
    font-weight:bold;
    
}
.mat-datepicker-content {
    z-index: 100; /* Adjust the value as needed */
}

.assignments{
    z-index:000;
}
.created-date{
    margin-left:auto;
    color:#606c76
}
.submission-date{
    color:#606c76;
    font-size: 0.875rem; /* Smaller font size */
}

.hoverboy {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* This makes the div circular */
    transition: background-color 0.3s ease; /* Optional: Add a smooth transition for the background color */
}