<div class="page-container">

  <app-top-nav></app-top-nav>
  <app-side-nav></app-side-nav>
  
  <div class="sliding-navbar mt-8 flex flex-row justify-around ">
    
    <button 
    class="ml-4 py-2 px-5 rounded-full text-sm text-white bg-black hover:bg-gray-700 duration-300 shadow-2xl " [matMenuTriggerFor]="menu">
    Create
  </button>
  
  <div class>
    <mat-menu #menu="matMenu" xPosition="after" yPosition="below">
      <button mat-menu-item (click)="toggleAssignment();">Assignments</button>
      <button mat-menu-item  (click)="toggleMaterial()">Materials</button>
    </mat-menu>
  </div>
  <div class="dropdown dropdown-bottom">
    <div tabindex="0" role="button" class="btn m-1">{{selectedOption}}</div>
    <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
        <li><a (click)="onSelectionChange('Assignments')">Assignments</a></li>
        <li><a (click)="onSelectionChange('Materials')">Materials</a></li>
    </ul>
</div>
  
</div>

<div class="flex flex-col mt-0 mx-36">
  <div *ngFor="let item of uploadsArray" class="flex flex-row justify-between mt-4 border mx-44 hover:bg-slate-50 h-16 p-3 rounded hover:cursor-pointer" (click)="openModal(item)">
    <!-- Icon and Title Section -->
    <div class="flex flex-row items-center flex-grow">
      <!-- Check if the item is a material -->
      <mat-icon *ngIf="item?.materialTitle; else assignmentIcon">book</mat-icon>
      
      <!-- Check if the item is an assignment -->
      <ng-template #assignmentIcon>
        <mat-icon>assignment</mat-icon>
      </ng-template>
      
      <!-- Display the item's title with a label -->
      <div class="ml-3 flex flex-col flex-grow">
        <!-- Conditional title based on whether the item is a material or an assignment -->
        <p class="title">{{ item.materialTitle ? 'You posted a material: ' : 'You posted an assignment: ' }} {{ item?.materialTitle || item?.assignmentTitle }}</p>
        <!-- Display the due date if it exists -->
        <div class="flex justify-between items-center">
          <p *ngIf="item.submissionDate" class="submission-date">Due on {{ item.submissionDate | date:'dd MMMM yyyy' }}</p>
          <p class="created-date">posted on {{ item.createdAt | date:'dd MMMM yyyy' }}</p>
        </div>
      </div>
    </div>
    <!-- Ellipsis Icon Section -->
    <div class="hoverboy p-3 hover:bg-slate-200 rounded-full" [matMenuTriggerFor]="menu" (click)="openMenu($event)">
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </div>
    
         <!-- Dropdown Menu  -->
         <mat-menu #menu = "matMenu">
          <button mat-menu-item (click)="editItem(item)">Edit</button>
          <button mat-menu-item (click)="deleteItem(item)">Delete</button>
        </mat-menu>
        
      </div>
    </div>
    
    <div class="pagination">
      <button class="mx-1" (click)="previousPage()" [disabled]="currentPage === 1"><i class="fa-solid fa-backward"></i></button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button class="mx-1" (click)="nextPage()"><i class="fa-solid fa-forward"></i></button>
  </div>
  </div>
<!-- Create Assignment Modal -->

<dialog id="assignments" class="modal">
  <div class="modal-box w-11/12 max-w-5xl max-h-full bg-slate-100 ">
    <form enctype="multipart/form-data" [formGroup]="assignmentForm" (ngSubmit)="uploadAssignment()" method="dialog">
      <div class=" shadow-xl bg-slate-50 rounded-2xl ">
        <h3 class="font-bold text-lg  "> <i class="fa-solid fa-file-lines"></i> Assignment</h3>
      </div>
      <div class="titleNdescription relative z-0 w-full mb-5 group">
        <input formControlName="assignmentTitle" type="text" name="assignmentTitle" id="assignmentTitle"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder="Title" required />
        <br>

      </div>
      <div class="text-slate-600">
        Choose Files(Image,Youtube Link or Video)
      </div>
      <div class="mx-40 mt-6">
        <quill-editor placeholder="Enter Description...." formControlName="content" class="quill-editor"
          [modules]="quillConfig"></quill-editor>
      </div>

      <div>
        <label class="block mb-2 text-sm font-medium text-slate-600" for="large_size">Upload PDF</label>
        <div class="flex border w-full justify-center rounded hover:cursor-pointer">
        <div class="input-div">
          <input (change)="onFileChange($event)" class="input" name="file" type="file" id="fileInput" style="display: none;">
          <label for="fileInput" class="p-3 hover:cursor-pointer  custom-file-upload">
             Create or upload
          </label>
      </div>
      </div>
    </div>
      <div class="mt-3 justify-center">
        <p class="text-sm font-medium text-gray-700">Select Submission Date and Time:</p>
        <div class="flex justify-end">
          
            
                    <div class=" mx-5">
                      <p-calendar  formControlName="dateTime" [showTime]="true" [showSeconds]="true"></p-calendar>
                  
                    </div>
        </div>

      </div>



      <div class="modal-action">
        <!-- if there is a button, it will close the modal -->
        <button type="submit" class="btn">Upload</button>
        <button (click)="resetMaterialForms()" class="btn">Close</button>
      </div>
    </form>
  </div>
</dialog>

<!-- Create Assignment Modal -->



<!-- Upload Material Modal -->

 <dialog id="materials" class="modal">
  <div class="modal-box w-11/12 max-w-5xl max-h-full bg-slate-100 ">
    <form enctype="multipart/form-data" [formGroup]="materialForm" (ngSubmit)="uploadMaterial()" method="dialog">
      <div class=" shadow-xl bg-slate-50 rounded-2xl ">
        <h3 class="font-bold text-lg  "> <i class="fa-solid fa-file-lines"></i> Material</h3>
      </div>
      <div class="titleNdescription relative z-0 w-full mb-5 group">
        <input formControlName="materialTitle" type="text" name="materialTitle" id="materialTitle"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder="Title" required />
        <br>

      </div>
      <div class="text-slate-600">
        Choose Files(Image,Youtube Link or Video)
      </div>
      <div class="mx-40 mt-6">
        <quill-editor placeholder="Enter Description...." formControlName="content" class="quill-editor"
          [modules]="quillConfig"></quill-editor>
      </div>

      <div>
        <label class="block mb-2 text-sm font-medium text-slate-600" for="large_size">Upload PDF</label>
        <div class="flex border w-full justify-center rounded hover:cursor-pointer">
        <div class="input-div">
          <input (change)="onFileChange($event)" class="input" name="file" type="file" id="fileInput" style="display: none;">
          <label for="fileInput" class="p-3 hover:cursor-pointer  custom-file-upload">
             Create or upload
          </label>
      </div>
      </div>
    </div>

  

      <div class="modal-action"> 
        <!-- if there is a button, it will close the modal -->
        <button type="submit" class="btn">Upload</button>
        <button (click)="resetMaterialForms()" class="btn">Close</button>
      </div>
    </form>
  </div>
</dialog>
<!-- Upload Material Modal -->