<app-top-nav></app-top-nav>
<app-side-nav></app-side-nav>

<div class="mt-16 justify-items-center">
    <ng-container></ng-container>

    <ng-container *ngFor="let material of materials">

        <div class="mx-36 mt-3 h-20 border rounded hover:shadow hover:bg-slate-100">
            <div class="p-7">
                <span class="font-medium">{{teacherName}} posted a material:"{{material.materialTitle}}"</span>
                <span></span>
            </div>
        </div>
    </ng-container>
</div>